@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes goUp {
  0% {
    margin-top: 1.3rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@keyframes goUp {
  0% {
    margin-top: 1.3rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@-webkit-keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@-webkit-keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(25vw);
            transform: translateX(25vw);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(25vw);
            transform: translateX(25vw);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

.sns .item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sns a {
  width: 3.5rem;
  height: 3.5rem;
  min-width: 30px;
  min-height: 30px;
  display: block;
  margin: 0 1rem;
  -webkit-filter: grayscale(100%) contrast(0);
          filter: grayscale(100%) contrast(0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sns a:hover {
  -webkit-filter: none;
          filter: none;
}

.myblog {
  background: url("../images/buttons/sns_blog.png") no-repeat center center/cover;
}

.mygit {
  background: url("../images/buttons/sns_git.png") no-repeat center center/cover;
}

#pageUp {
  z-index: 100;
  position: fixed;
  bottom: 4vh;
  right: 4vw;
  width: 5rem;
  height: 5rem;
  min-width: 30px;
  min-height: 30px;
  background: url("../images/buttons/pageUp.png") no-repeat 50% 50%;
  background-size: 100%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: fadeIn 0.8s ease-in Alternate;
          animation: fadeIn 0.8s ease-in Alternate;
}

#pageUp p {
  display: none;
}

#pageUp:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 223, 77, 0.1)), to(rgba(245, 223, 77, 0.8)));
  background: linear-gradient(rgba(245, 223, 77, 0.1), rgba(245, 223, 77, 0.8));
  border-radius: 100%;
  -webkit-transition: all ease-in;
  transition: all ease-in;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
}

#pageUp:hover p {
  display: block;
  -webkit-animation: goUp 0.8s ease-in Infinite Alternate;
          animation: goUp 0.8s ease-in Infinite Alternate;
}

.scroll_icon {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  width: 5rem;
  height: 5rem;
  min-width: 35px;
  min-height: 35px;
  background: url("../images/buttons/scroll.png");
  background-size: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.scroll_icon:hover {
  background: url("../images/buttons/scroll_down.png");
  background-size: 100%;
}
