@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* common */
html {font-size: 62.5%;}

h1 {
  font-size: 7rem;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 4.5rem;
  font-weight: 500;
  color: #1d2123;
  text-transform: capitalize;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
  color: #60605e;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #939597;
}
.button.open::before {font-size: 1.5rem;}

span.date {
 font-size: 1.6rem;
 color: #c5c6c7;
 letter-spacing: 0.13rem;
 margin-left: 1rem;
}

/* header */
#logo {font-size: 3.6rem;}
#logo.logo_icon{font-size: 0;}

#mode {font-size: 1.6rem;}

#gnb_menu li{
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
}
#gnb_menu li:hover{color: #907f0e;}
#gnb_menu li.on {color: brown;}


/* section 1 : welcome */

/* section 2 : about */
.introduce {font-size: 1.8rem;}
.myName {font-size: 2.5rem;}
.about dl dt {
  font-size: 2.8rem;
  color: #60605e;
}
.about dl dd {
  font-size: 2rem;
  color: #939597;
}

/* section 3 : skill */
.s3 {text-align: center;}
.s3 h4 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #60605e;
}
.s3 p {
  font-size: 2rem;
  line-height: 1.4;
  color: #939597;
}
.list .item:hover h4 {
  color: #b89f00;
}

/* section 4 : project */
.s4 h2{
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 5px #1d2123;
  text-align: center;
}
.s4 h3 {
  font-weight: 600;
  color: #1d2123;
}
li.project .content p {
  font-size: 2rem;
  line-height: 130%;
  color: #1d2123;
}
#projects .image span {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 5px #1d2123;
  text-align: center;
}

.pjTabBox li{
  text-transform: uppercase;
}
.pjTabBox li.on,
.pjTabBox li:focus,
.pjTabBox li:hover{
  color: #F5DF4D;
}
.tabContent *{
  font-size: 1.8rem;
  color: #60605e;
}

/* section 5 : connect */
.s5 h2 {font-size: 0;}






/* responsive */
@media (min-width: 1999px) and (orientation: landscape) {html {font-size: 110%;}}
@media (min-width: 2999px) and (orientation: landscape) {html {font-size: 135%;}}
@media (min-width: 3999px) and (orientation: landscape) {html {font-size: 150%;}}
@media (min-width: 4999px) and (orientation: landscape) {html {font-size: 190%;}}

@media (min-width: 1999px) and (orientation: portrait) {}

@media (max-width: 769px) {
  html {font-size: 62.5%;}
}
@media (max-width: 680px) {
  html {font-size: 58%;}
}
@media (max-width: 640px) {
  html {font-size: 55%;}
}
@media (max-width: 540px) {
  html {font-size: 45%;}
  .about .slick-dots li.slick-active button:before,
  .about .slick-dots li button:hover:before,
  .about .slick-dots li button:focus:before,
  button, #mode, span.date, .introduce {
    font-size: 1.95rem
  }
  .myName {
    font-size: 3rem;
  }
}
@media (max-width: 481px) {
  html {font-size: 36%}
  h1{font-size: 6rem}
  .about .slick-dots li.slick-active button:before,
  .about .slick-dots li button:hover:before,
  .about .slick-dots li button:focus:before,
  button, #mode, span.date, .introduce, .about dl dd {
    font-size: 2.3rem;
  }
}

@media (max-width: 321px) {
  html {font-size: 30%;}
  .about .slick-dots li.slick-active button:before,
  .about .slick-dots li button:hover:before,
  .about .slick-dots li button:focus:before,
  button, #mode, span.date, .introduce, .about dl dd {
    font-size: 2.6rem;
  }
}

@media (max-width: 321px) {
  html {font-size: 28%;}
}