header {
  margin-top: 4vh;
  padding: 0 5vw;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

header .toRight {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo_icon {
  width: 40px;
  height: 40px;
  display: block;
  background: url("../images/logo_icon.png") no-repeat;
  background-size: 100%;
}

.menuBar,
.menuBar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disable {
  display: none !important;
}

#mode {
  margin: 0 10px;
  padding: 5px 16px 5px 5px;
  background: url("../images/buttons/arrow_down.png") no-repeat 100% 50%;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}

#gnb {
  position: relative;
  margin-left: 10px;
}

#gnb #gnb_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 50px;
}

#gnb #gnb_menu li {
  padding: 3px 8px;
  margin: 0 10px;
}

#hamburger .line {
  width: 35px;
  height: 2px;
  margin: 8px auto;
  background-color: #434547;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.active .line:nth-child(2) {
  width: 0px;
}

#hamburger.active .line:nth-child(1),
#hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}
