@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes goUp {
  0% {
    margin-top: 1rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@keyframes goUp {
  0% {
    margin-top: 1rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@-webkit-keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@-webkit-keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeftDelay {
  0% {
    margin-left: 20rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideLeftDelay {
  0% {
    margin-left: 20rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

header {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 5vw;
  margin-top: 4vh;
}

header .item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .toRight {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo_icon {
  width: 4rem;
  height: 4rem;
  min-width: 30px;
  min-height: 30px;
  display: block;
  background: url("../images/logo_icon.png") no-repeat;
  background-size: 100%;
}

.menuBar,
.menuBar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

.menuBar .item,
.menuBar > div .item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.disable {
  display: none !important;
}

#mode {
  margin: 0 1rem;
  padding: 0.5rem 1.6rem 0.5rem 0.5rem;
  background: url("../images/buttons/arrow_down.png") no-repeat 100% 50%;
  background-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}

#gnb {
  position: relative;
  margin-left: 1rem;
}

#gnb #gnb_layer {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(96, 96, 94, 0.6);
}

#gnb #gnb_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
  position: absolute;
  top: 0.8rem;
  right: 5rem;
}

#gnb #gnb_menu .item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#gnb #gnb_menu li {
  padding: 0.3rem 0.8rem;
}

#hamburger .line {
  width: 3.5rem;
  height: 0.2rem;
  min-width: 25px;
  margin: 8px auto;
  background-color: #434547;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.active .line:nth-child(2) {
  width: 0px;
}

#hamburger.active .line:nth-child(1),
#hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}
