@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  0% {
    margin-top: 13px;
  }
  60% {
    margin-top: -10px;
  }
  100% {
    margin-top: -10px;
  }
}

@media (min-width: 280px) and (max-width: 1399px) {
  .btn_line {
    width: 60px;
  }
  .logo_icon {
    width: 30px;
    height: 30px;
  }
  #hamburger .line {
    width: 25px;
    margin: 6px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  #pageUp {
    width: 30px;
    height: 30px;
  }
  .scroll_icon {
    width: 40px;
    height: 40px;
    background: url("../images/buttons/scroll_down.png") no-repeat;
    background-size: 100%;
    -webkit-animation: fadeOut 1s ease-in Infinite Alternate;
            animation: fadeOut 1s ease-in Infinite Alternate;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .welcom .toRight {
    padding: 0 12%;
  }
  .toRight {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .welcom .toRight {
    padding: 0 15%;
  }
}

@media (min-width: 768px) {
  #hamburger .line {
    width: 35px;
    margin: 8px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  #gnb {
    margin-left: 10px;
  }
  .logo_icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .toRight {
    width: 50%;
  }
  .welcom .toRight {
    padding: 0 6.3%;
  }
}
