@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes goUp {
  0% {
    margin-top: 1rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@keyframes goUp {
  0% {
    margin-top: 1rem;
  }
  60% {
    margin-top: -1rem;
  }
  100% {
    margin-top: -1rem;
  }
}

@-webkit-keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@keyframes goDown {
  0% {
    bottom: -0.8rem;
    opacity: 0.6;
  }
  60% {
    bottom: -2rem;
    opacity: 0.9;
  }
  100% {
    bottom: -2rem;
    opacity: 1;
  }
}

@-webkit-keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@keyframes squareEffect {
  0% {
    background-position-y: -12rem;
  }
  50% {
    background-position-y: 10rem;
  }
  100% {
    background-position-y: -12rem;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeftDelay {
  0% {
    margin-left: 20rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideLeftDelay {
  0% {
    margin-left: 20rem;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@media (max-width: 1025px) {
  header {
    padding: 0 4vw;
  }
  #gnb #gnb_menu {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100vh;
    text-align: center;
    background: rgba(96, 96, 94, 0.9);
    padding: 7rem 7rem;
    -webkit-box-shadow: 0 0 20px #434547;
            box-shadow: 0 0 20px #434547;
    -webkit-animation: slideLeft 0.8s ease;
            animation: slideLeft 0.8s ease;
  }
  #gnb #gnb_menu li {
    padding: 1rem;
    margin: 1rem;
    color: #fff;
  }
  #gnb #gnb_menu li.on {
    color: #F5DF4D;
  }
  #hamburger.active {
    z-index: 30;
  }
  #hamburger.active .line {
    background: #fff;
  }
  .s1 {
    height: 100vh;
  }
  section {
    height: auto;
  }
  .inner {
    padding: 11%;
  }
  .inner > div:first-child {
    width: 100%;
  }
  .toRight {
    width: 100%;
  }
  .welcom > div {
    padding: 0 11%;
  }
  .profile {
    height: auto;
    padding-right: 0;
    margin-bottom: 8rem;
  }
  .profile > div {
    height: auto;
    padding-bottom: 20rem;
  }
  .profile .photo {
    -webkit-transition: none;
    transition: none;
  }
  .inform {
    height: auto;
    padding-left: 0;
  }
  #projects li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .image {
    width: 100%;
    height: 28rem;
  }
  .image img {
    width: 100%;
  }
  #skillNext {
    display: none;
  }
  .s4 h2 {
    position: unset;
    margin: 10rem 0 2rem;
  }
  .s4 h3 {
    text-align: center;
  }
  #projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  li.project.view .content {
    width: 100%;
    padding: 8rem 6vw;
    -webkit-box-shadow: 5px 0 5px #c5c6c7;
            box-shadow: 5px 0 5px #c5c6c7;
  }
  li.project.view .image {
    display: none;
  }
  .s5 .inner .item:last-child,
  .s5 .photo {
    margin: 0 auto;
    text-align: center;
  }
  .s5 .button,
  .s5 .sns {
    margin: 1.5rem auto;
  }
}

@media (max-width: 769px) {
  .btn_line {
    width: 60px;
  }
  .scroll_icon {
    background: url("../images/buttons/scroll_down.png") no-repeat;
    background-size: 100%;
    -webkit-animation: fadeOut 1s ease-in Infinite Alternate;
            animation: fadeOut 1s ease-in Infinite Alternate;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .inner {
    padding: 13%;
  }
  .welcom > div {
    padding: 0 13%;
  }
  .profile > div {
    padding-bottom: 18rem;
  }
  .profile .textBox {
    width: 90%;
    padding: 2.5rem;
  }
  .profile #btn_modal {
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: unset;
  }
  .skillType .flexBox {
    gap: 4%;
  }
  .list .item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  #publishing .item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .image {
    height: 20rem;
  }
  .s5 .photo {
    width: 80%;
  }
}

@media (max-width: 641px) {
  #hamburger .line {
    width: 25px;
    margin: 6px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
  #hamburger.active .line:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(90deg);
    transform: translateY(-7px) rotate(90deg);
  }
}

@media (max-width: 541px) {
  .profile #btn_modal {
    position: absolute;
    bottom: -4rem;
  }
  .about .slick-prev {
    left: 2rem;
  }
  .about .slick-next {
    right: 2rem;
  }
}

@media (max-width: 481px) {
  .inner {
    padding: 15%;
  }
  .welcom > div {
    padding: 0 15%;
  }
  .profile > div {
    padding-bottom: 38rem;
  }
  .profile .textBox {
    width: 100%;
  }
  .profile .photo {
    min-height: unset;
  }
  .profile #btn_modal {
    position: absolute;
    bottom: -5rem;
  }
  .about .slick-prev,
  .about .slick-next {
    bottom: -0.5rem;
  }
  .about .slick-dots li {
    margin: 0 2.5rem;
  }
  .about .slick-dots li button:before {
    line-height: 2rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 321px) {
  .inner {
    padding: 17%;
  }
  .about .slick-dots li {
    margin: 0 3.2rem;
  }
  .list .item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
