header {
  margin-top: 30px;
  padding: 0 6%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

header .toRight {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo_icon {
  width: 40px;
  height: 40px;
  display: block;
  background: url("../images/logo_icon.png") no-repeat;
  background-size: 100%;
}

.menuBar,
.menuBar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disable {
  display: none !important;
}

select#mode {
  margin: 0 10px;
  padding: 0 16px 0 5px;
  background: url("../images/buttons/arrow_down.png") no-repeat 100% 50%;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
}

#gnb {
  position: relative;
  margin-left: 10px;
}

#gnb #gnb_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 35px;
}

#gnb #gnb_menu li {
  padding: 3px 8px;
  margin: 0 10px;
}

#hamburger .line {
  width: 35px;
  height: 2px;
  background-color: #434547;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.active .line:nth-child(2) {
  width: 0px;
}

#hamburger.active .line:nth-child(1),
#hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(90deg);
  transform: translateY(-10px) rotate(90deg);
}

section {
  width: 100vw;
  height: 100vh;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 6% 11.5%;
}

.inner > div:first-child {
  width: 50%;
}

.toRight {
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.welcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcom .toRight {
  padding: 6.3%;
  background: #f7f6f2;
}

.welcom .toRight .welcom_text {
  margin-top: 25vh;
}

.profile {
  height: 100%;
  padding-right: 5.4%;
}

.profile > div {
  position: relative;
  height: 100%;
}

.profile .photo {
  position: absolute;
  top: -96vh;
  left: 0;
  width: 80%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile .photo img {
  width: 100%;
}

.profile .textBox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  padding: 30px;
  background: rgba(255, 252, 211, 0.9);
}

.profile .textBox p {
  margin: 12px 0;
}

.profile .textBox p:first-child {
  margin-top: 0;
}

.profile .textBox p:last-child {
  margin-bottom: 30px;
}

.profile #btn_modal {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.inform {
  height: 100%;
  padding-left: 5.4%;
}

.about li > div:nth-child(2) {
  margin-top: 40px;
}

.about h3 {
  margin-top: 30px;
}

.about dl {
  margin-left: 35px;
}

.about dt {
  position: relative;
  margin-top: 10px;
}

.about dt::before {
  position: absolute;
  top: 30%;
  left: -17px;
  content: '';
  width: 5px;
  height: 5px;
  background: #1d2123;
  border-radius: 100%;
}

.about dd {
  margin-top: 5px;
}
