section {
  width: 100vw;
  height: 100vh;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 6% 11.5%;
}

.inner > div:first-child {
  width: 50%;
}

.toRight {
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.welcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcom > div {
  padding: 6.3%;
  background: #f7f6f2;
}

.welcom > div .welcom_text {
  padding-top: 25vh;
}

.profile {
  position: relative;
  height: 100%;
  padding-right: 5.4%;
}

.profile > div {
  position: relative;
  height: 100%;
}

.profile .photo {
  position: absolute;
  top: -96vh;
  left: 0;
  width: 80%;
  height: 70vh;
  min-height: 400px;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile .textBox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  padding: 3rem;
  background: rgba(255, 252, 211, 0.9);
}

.profile .textBox p {
  margin: 1.3rem 0;
}

.profile .textBox p:first-child {
  margin-top: 0;
}

.profile .textBox p:last-child {
  margin-bottom: 30px;
}

.profile .textBox p.myName {
  margin-bottom: 0;
}

.profile #btn_modal {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.inform {
  height: 100%;
  padding-left: 5.4%;
}

.about li > div:nth-child(2) {
  margin-top: 4rem;
}

.about h3 {
  margin-top: 3rem;
}

.about dl {
  margin-left: 3.5rem;
}

.about dt {
  position: relative;
  margin-top: 1rem;
}

.about dt::before {
  position: absolute;
  top: 30%;
  left: -1.7rem;
  content: '';
  width: 5px;
  height: 5px;
  background: #1d2123;
  border-radius: 100%;
}

.about dd {
  margin-top: 5px;
}
