@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  0% {
    margin-top: 13px;
  }
  60% {
    margin-top: -10px;
  }
  100% {
    margin-top: -10px;
  }
}

section {
  width: 100vw;
  height: 100vh;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 6% 11.5%;
}

.inner > div:first-child {
  width: 50%;
}

.toRight {
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.welcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcom .toRight {
  padding: 6.3%;
  background: #f7f6f2;
}

.welcom .toRight .welcom_text {
  margin-top: 25vh;
}

.profile {
  height: 100%;
  padding-right: 5.4%;
}

.profile > div {
  position: relative;
  height: 100%;
}

.profile .photo {
  position: absolute;
  top: -96vh;
  left: 0;
  width: 80%;
  height: 70vh;
  overflow: hidden;
  border: 1px solid red;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.profile .photo img {
  width: 100%;
}

.profile .textBox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  padding: 30px;
  background: rgba(255, 252, 211, 0.9);
}

.profile .textBox p {
  margin: 12px 0;
}

.profile .textBox p:first-child {
  margin-top: 0;
}

.profile .textBox p:last-child {
  margin-bottom: 30px;
}

.profile #btn_modal {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.inform {
  height: 100%;
  padding-left: 5.4%;
}

.about li > div:nth-child(2) {
  margin-top: 40px;
}

.about h3 {
  margin-top: 30px;
}

.about dl {
  margin-left: 35px;
}

.about dt {
  position: relative;
  margin-top: 10px;
}

.about dt::before {
  position: absolute;
  top: 30%;
  left: -17px;
  content: '';
  width: 5px;
  height: 5px;
  background: #1d2123;
  border-radius: 100%;
}

.about dd {
  margin-top: 5px;
}
