// sns buttons setting //
@mixin sns{
  $wh: 35px;
  display: block;
  margin: 0 10px;
  width: $wh;
  height: $wh;
}
.sns{
  @include flexBox();
}
.myblog {
  @include sns();
  background: url('../images/buttons/sns_blogY.png')no-repeat;
  background-size: 100%;
  filter: grayscale(100%) contrast(0);
  transition: all .4s ease;
  &:hover {
    filter: none;
  }
}
.mygit {
  @include sns();
  background: url('../images/buttons/sns_gitY.png')no-repeat;
  background-size: 100%;
  filter: grayscale(100%) contrast(0);
  transition: all .4s ease;
  &:hover {
    filter: none;
  }
}

// page up button setting //
#pageUp {
  $wh: 45px;
  @include position($p:fixed, $b:50px, $r:120px);
  width: $wh;
  height: $wh;
  background: url('../images/buttons/pageUp.png')no-repeat 50% 50%;
  background-size: 100%;
  transition: all .3s ease;
  p{display: none;}

  &:hover{
    background: linear-gradient(rgba(245, 223, 77, 0.1), rgba(245, 223, 77, 0.8));
    border-radius: 100%;
    p {display: block;}
  }
}


// move to 2page //
.scroll_icon {
  $wh: 50px;
  @include position($b:50px, $l:50%);
  width: $wh;
  height: $wh;
  background: url('../images/buttons/scroll.png');
  background-size: 100%;
  transition: all .3s ease-in-out;
  transform: translate(-50%, 0);

  &:hover {
    background: url('../images/buttons/scroll_down.png');
    background-size: 100%;
  }
}
