// color
$theme-1: #F5DF4D; //245, 223, 77
$theme-2: #939597; //147, 149, 151
$subTheme-1: rgba(255, 252, 211, 0.9); // #fffed6 // 255, 252, 211
$subTheme-2: #f7f6f2; //247, 246, 242
$subTheme-3: #60605e; //96, 96, 94 
$subTheme-4: #434547; //67, 69, 71
$color-1: #fff;
$color-2: #c5c6c7; //197, 198, 199
$color-3: #1d2123; //29, 33, 35


// Animation
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes goUp {
  0% {margin-top: 1.3rem;}
  60% {margin-top: -1rem;}
  100% {margin-top: -1rem;}
}
@keyframes goDown {
  0% {bottom: -0.8rem; opacity: 0.6;}
  60% {bottom: -2rem; opacity: 0.9;}
  100% {bottom: -2rem; opacity: 1;}
}

@keyframes squareEffect {
  0% {background-position-y: -12rem;}
  50% {background-position-y: 10rem;}
  100% {background-position-y: -12rem;}
}






// icons box
@mixin square (
  $wh: 0,
  $minWh: null,
  $minW: null,
  $minH: null
) {
  width: $wh;
  height: $wh;
  min-width: $minWh or $minW;
  min-height: $minWh or $minH;
}

// flex
@mixin flexBox (
  $d: flex,
  $align: center,
  $justify: center,
  $wrap: wrap,
  $gap: 0,
  $basis: null,
  $shrink: 1,
  $grow: 1
) {
  display: $d;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;

  .item {
    flex-basis: $basis;
    flex-shrink: $shrink;
    flex-grow: $grow;
  }
}

// position
@mixin position (
  $p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null
){
  @if 
  $p == absolute
  or $p == fixed
  or not $p == relative
  or not $p == static
  or not $p == inherit
  {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
  }
}

// Breakpoints
$labtop: 1024px;
$tablet-L: 768px;
$tablet-M: 640px;
$tablet-S: 540px;
$mobile-L: 480px;
$mobile-M: 320px;
$mobile-S: 280px;

@mixin labtop {
  @media (max-width: #{$labtop + 1}) {
    @content;
  }
}
@mixin tablet-L {
  @media (max-width: #{$tablet-L + 1}) {
    @content;
  }
}
@mixin tablet-M {
  @media (max-width: #{$tablet-M + 1}) {
    @content;
  }
}
@mixin tablet-S {
  @media (max-width: #{$tablet-S + 1}) {
    @content;
  }
}
@mixin mobile-L {
  @media (max-width: #{$mobile-L + 1}) {
    @content;
  }
}
@mixin mobile-M {
  @media (max-width: #{$mobile-M + 1}) {
    @content;
  }
}
@mixin fold {
  @media (max-width: #{$mobile-S + 1}) {
    @content;
  }
}