// color setting
$theme-1: #F5DF4D; //245, 223, 77
$theme-2: #939597; //147, 149, 151
$subTheme-1: rgba(255, 252, 211, 0.9); // #fffed6 // 255, 252, 211
$subTheme-2: #f7f6f2; //247, 246, 242
$subTheme-3: #60605e; //96, 96, 94 
$subTheme-4: #434547; //67, 69, 71
$color-1: #fff;
$color-2: #c5c6c7; //197, 198, 199
$color-3: #1d2123; //29, 33, 35


// flex setting 
@mixin flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

// position setting
@mixin position(
  $p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null
){
  @if 
  $p == absolute
  or $p == fixed
  or not $p == relative
  or not $p == static
  {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
  }
}

// Breakpoints setting
$breakpoint-mobile: 280px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}