@import "variables", "animation";

// FOLD(min 280) - WIDE(max 1400) //
@include fold {
  // header
  .btn_line {width: 60px;}
  .logo_icon {
    width: 30px;
    height: 30px;
  }
  // #gnb {margin-left:0}
  #hamburger .line {
    width: 25px;
    margin: 6px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }

  // buttons
  #pageUp{
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
  .scroll_icon {
    width: 40px;
    height: 40px;
    background: url('../images/buttons/scroll_down.png') no-repeat;
    background-size: 100%;
    animation: fadeOut 1s ease-in Infinite Alternate;
    animation-delay: 1s;
  }

  // section1 - welcome
  .welcom .toRight{padding: 0 12%}
  .toRight {width: 100%}
}
 








// MOBILE(min 320) //
@include mobile {
  // buttons
  .scroll_icon {bottom: 30px;}
  
  // section1 - welcome
  .welcom .toRight{padding: 0 15%}
} 









// TABLET(min 768) //
@include tablet {
  
  // header
  #hamburger .line {
    width: 35px;
    margin: 8px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  #gnb {margin-left: 10px}
  .logo_icon {
    width: 40px;
    height: 40px;
  }

  // section1 - welcome
}









// DESKTOP(min 1024) //
@include desktop {
  .toRight {width: 50%}
  .welcom .toRight {padding: 0 6.3%}
}











// FULL(min 1400) //
@include full {
}