@import "variables", "animation";

// DESKTOP(max 1400) //
@include desktop {

}





// LABTOP(max 1024) //
@include labtop {
  // section1 - welcome
  .toRight {width: 100%}
  .welcom .toRight {padding: 0 15%}
}





// TABLET(max 768) //
@include tablet {
  // header
  #hamburger .line {
    width: 25px;
    margin: 6px auto;
  }
  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  .logo_icon {@include square(30px);}

  // buttons
  #pageUp {@include square(30px)}
  .scroll_icon {
    @include square(40px);
    background: url('../images/buttons/scroll_down.png') no-repeat;
    background-size: 100%;
    animation: fadeOut 1s ease-in Infinite Alternate;
    animation-delay: 1s;
  }
}


// MOBILE(max 320) //
@include mobile {
  // header
  .btn_line {width: 60px;}

  // section1 - welcome
  .welcom .toRight{padding: 0 12%}
} 


// FOLD(max 280) //
@include fold {
}
 