@import "variables";
 
// all section //
section{
  width: 100vw;
  height: 100vh;
}
.inner{
  height: 100%;
  padding: 6% 11.5%;
  > div:first-child {
    width: 50%;
    height: 100%;
  }
}
.toRight{
  width: 50%;
  height: 100%;
  margin-left: auto;
}

// section1 - welcome //
.welcom {
  @include flexBox();
  > div {
    z-index: 3;
    padding: 6.3%;
    background: $subTheme-2;

    .welcom_text {
      padding-top: 25vh;
    }
  }
} 

// section2 - about //
.s2 .inner{
  @include flexBox();
}
.profile {
  position: relative;
  height: 100%;
  padding-right: 5.4%;
  > div{
    position: relative;
    height: 100%;
  }
  #photo {
    @include position($t:-96vh, $l:0);
    width: 80%;
    height: 70vh;
    min-height: 420px;
    transition: all 1s;
  }
  .textBox{
    @include position($b:0, $r:0);
    width: 75%;
    padding: 3rem;
    background: $subTheme-1;
    p {
      margin: 1.3rem 0;
      &:first-child {margin-top:0}
      &:last-child {margin-bottom: 3rem;}
    }
    p.myName {
      margin-bottom:0;
    }
  }
  .btn_modal {
    @include position($b:3rem, $r:3rem);
  }
}
.photo{
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inform{
  height: 100%;
  padding-left: 5.4%;
}
.about {
  li > div:nth-child(2) {
    margin-top: 4rem;
  }
  h3 {
    margin-top: 1.8rem;
  }
  dl {
    margin-left: 3.5rem;
  }
  dt {
    position: relative;
    margin-top: 1rem;
    &::before {
      @include position($t:40%, $l:-1.7rem);
      @include square($wh:0.4rem);
      content: '';
      background: $color-3;
      border-radius: 100%; 
    }
  }
  dd {
    margin-top: 0.5rem;
  }
}

.certificate {
  dt:hover + dd{
    opacity: 1;
    height: auto;
    animation: slideDown 0.2s ease-in;
  }
  dd {
    opacity: 0;
    height: 0;
  }
}

// section3 - skill //
.s3 {
  height: auto;
  background: $subTheme-2;

  h3 {margin: 5rem 0 2rem;}
}
#skillNext {
  position: relative;
  button {
    @include position($b:0, $l:50%);
    width: 2.5rem;
    height: 2rem;
    min-width: 20px;
    transform: translate(-50%, 0);
    background: url(../images/buttons/arrow_down.png) no-repeat center center/contain;
    animation: goDown 1s ease-in Infinite Alternate;
  }
}
#editor p {
  margin-bottom: 3rem;
}
.list {
  @include flexBox($align:stretch, $gap:2%, $basis:23.5%);
  .item {
    margin-bottom: 3rem;
  }
}
#publishing .item {
  flex-basis: 31.3%;
}
.squareEffect {
  position: relative;
  background: $color-1;
  transition: all .3s ease-in;

  h4::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    margin: 1.5rem auto 3rem;
    background: $theme-1;
  }
  &::after {
    @include position($t:0, $l:0);
    @include square($wh:100%);
    content: "";
    display: block;
    // padding-bottom: 100%;
  }
  &:hover {
    &::after {
      background: linear-gradient(rgba(245, 223, 77, 0.2), rgba(255, 255, 255, 0), rgba(245, 223, 77, 0.2));
      opacity: 0.8;
      animation: squareEffect 2.5s ease-in infinite Alternate;
    }
    h4::after {
      background: #b89f00;
    }
  }
  .content {
    // position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
  }
}

// section4 - project //
.s4 {
  position: relative;

  h2{
    @include position($t:0,$l:0);
    z-index: 2;
    width: 100%;
    margin-top: 13vh;
  }
}
#projects {
  height: 100%;
  @include flexBox($wrap:nowrap);
}
.image {
  position: relative;
  height: 100%;
  overflow: hidden;

  img:hover{filter: contrast(125%) brightness(98%) saturate(1.4);
    cursor: pointer;}
  
  span {
    @include position($t:50%, $l:50%);
    width: 100%;
    content: attr(data-project);
    transform: translate(-50%, -50%);
  }
}
li.project {
  @include flexBox($justify:flex-end, $basis:25vw);
  height: 100%;
  
  .content {
    display:none;

    > p {
      margin: 3rem 0;
    }
  }
}
li.project.view {
  animation: slideLeftDelay 1s ease-in-out;
  
  .content {
    display: block;
    width: 70%;
    height: 100%;
    padding: 18rem 6vw;
  }
  .image {width: 30%;
    img {filter: contrast(125%) brightness(98%) saturate(1.4);}
    span {display: none;}
  }
}

.pjTabBox {
  @include flexBox ($wrap:nowrap, $justify:flex-start, $gap:3rem);
  margin-bottom: 2rem;

  li {
    padding: 0.8rem 1.8rem;
    border: 1px solid $theme-2;
    border-radius: 2rem;
    cursor: pointer;
    &:focus, &:hover {
      background: rgba(96, 96, 94, 0.8);
    }
  }
  li.on {
    background: $subTheme-3;
  }
}
.tabContent {
  padding: 1rem;
  border: {
    top: 1px solid $subTheme-4;
    bottom: 1px solid $subTheme-4;
  }

  li {display: none;}
  li.on {display:block}

  table {
    border-collapse: separate;
    border-spacing: 0.5rem 2rem;
  }
}

.demoBtns {
  @include flexBox ($gap:3rem, $justify:flex-end);
  margin-top: 1.5rem;
}


// section5 - connect //
.s5 {
  .inner {
    @include flexBox($basis:calc(calc(1025px - 100%) * 1000000));
  .item:last-child {margin-left: 6%;}
  }
  .photo {
    width: 60%;
    height: 100%;
    margin: {
      left: auto;
      right: 6%;
    }
  }
  .button{
    display: block;
    width: fit-content;
    padding: 1rem 4rem;
    margin: 1.5rem 0;
    border-radius: 4rem;
    background: #fdf7c3;
    font-size: 2.8rem;
    text-transform: uppercase;
    &:hover {
      background: $subTheme-3;
      color: $theme-1;
    }
  }
  h3 {
    margin: 7rem 0 1rem;
    font-size: 2.4rem;
    color: $color-2;
    text-transform: uppercase;
  }
  p {
    // margin-top: 2rem;
    line-height: 230%;
    font-size: 1.6rem;
    color: $color-3;
  }
  .sns {
    width: fit-content;
  }
}