@import "variables", "header";
 
// all section //
section{
  width: 100vw;
  height: 100vh;

  .inner{
    @include flexBox();
    height: 100%;
    padding: 6% 11.5%;

    > div {width: 50%}
    > .toRight{
      width: 50%;
    }
  }
}

// section1 - welcome //
section.welcom {
  @include flexBox();
  .toRight {
    width: 50%;
    height: 100%;
    padding: 120px 150px 0;
    background: $subTheme-2;

    .welcom_text {
      @include position($t:50%, $l:50%);
      transform: translate(120px, -100%);
    }
  }
} 

// section2 - about //
.profile {
  height: 100%;
  padding-right: 5.4%;

  > div{
    position: relative;
    height: 100%;
  }
  
  .photo {
    @include position($t:-96vh,$l:0);
    width: 80%;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    img {width: 100%;} 
  }
  .textBox{
    @include position($b:0, $r:0);
    width: 75%;
    padding: 30px;
    background: $subTheme-1;
    p {
      margin: 12px 0;
      &:first-child{margin-top:0}
      &:last-child{margin-bottom: 30px;}
    }
  }
  #btn_modal {
    @include position($b:0, $r:0);
    margin: 30px;
  }
}

.inform{
  height: 100%;
  padding-left: 5.4%;
}
.about {
  li > div:nth-child(2) {margin-top: 40px;}
  h3 {margin-top: 30px;}
  dl {margin-left: 35px;}
  dt {
    position: relative;
    margin-top: 10px;
    &::before {
      @include position($t:30%,$l:-17px);
      content: '';
      width: 5px;
      height: 5px;
      background: $color-3;
      border-radius: 100%; 
    }
  }
  dd {margin-top: 5px;}
}