@import "header", "sideMneu";
@import url('https://fonts.googleapis.com/css2?family=M PLUS Rounded 1c:wght@100;300;400;500;700;800;900&display=swap');
*{font-family: 'M PLUS Rounded 1c', sans-serif;}

// 기본 컬러
$color1: #fff;
$color2: #f5f6f7;
$color3: #373737;
$color4: #16a085;
$color5: #0d7c66;

// Width & Height
@mixin vw_vhSet ($element...) {
    width: 100vw;
    height: 100vh;

    @if length($element) > 0 {
        #{$element}{
           width: 100vw;
           height: 100vh;
       }
    }
}

// Basic Layout
@mixin position ($p:absolute, $t:null, $b:null, $l:null, $r:null) {
    @if $p == absolute or $p == fixed or not $p == relative or not $p == static {
        position: $p;
        top:$t; bottom:$b; left:$l; right:$r;
    }
}
@mixin inner ($mAuto:auto, $pt:0, $pb:0) {
    width: 80%;
    margin: 0 $mAuto;
    padding: $pt 0 $pb;
}
@mixin float ($leftW:null, $rightW:null) {
    overflow: hidden;

    .fl{
        &-left{
            width: $leftW;
            float: left;}
        &-right{
            width: $rightW;
            float: right;}
    }
}
@mixin section ($pt:8rem, $bg:$color2) {
    padding-top: $pt;
    background: $bg;
    @content;
}

// Slide Arrowes Background Image
@mixin slideArrs ($w:30px, $h:30px,) {
    $arr: (first:left, last:right);
    @each $num, $side in $arr {
        a:#{$num}-child{
            width: $w;
            height: $h;
            display: inline-block;
            background: url('../images/pt_Aphoto/fa-angle-#{$side}.png')no-repeat center center;
            @content;
        }
    }
}

// Basic Text Box
@mixin title ($size:1.9rem, $weight:700, $spacing:0.25rem, $clr:null,) {
    letter-spacing: $spacing;
    color: $clr;
    font: {size:$size; weight:$weight;}
    @content;
}
@mixin text ($size:1.3rem, $weight:400, $spacing:0.2rem, $clr:$color3,) {
    letter-spacing: $spacing;
    color: $clr;
    font: {size:$size; weight: $weight;}
     @content;
}
@mixin button ($btnPd:1.2rem 2rem, $bgImg:null) {
    padding: $btnPd;
    background: $color4, $bgImg;
    color: $color1;
    letter-spacing: 0.2rem;
    border-radius: 0.2rem;
    font: {size:1rem; weight:700;}
    @content;
}
@mixin textBox {
    h2{@include title($size:3.5rem, $spacing:0.63rem, $clr:$color1);}
    h3{
        line-height: 130%;
        @include title($clr:$color4);
    }
    p{
        margin: 40px 0;
        line-height: 150%;
        @include text;
    }
    button{@include button(1.2rem 2.8rem);}
}


// Fading Animation
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
@-webkit-keyframes fade {from{opacity:.4} to{opacity:1}}
@keyframes fade {from{opacity:.4} to{opacity:1}}




.section1{
    @include vw_vhSet(ul, li);

    .mainVisual li{
        @include position($t:0, $l:0);

        $num: (1,2,3,4);
        $bgGradient: linear-gradient(to bottom, rgba(85, 8, 116, 0.4), rgba(223, 155, 55, 0.3));
        @each $this in $num {
            $i: index($list: $num, $value: $this);
            &:nth-child(#{$i}){
                background: $bgGradient, url("../images/pt_Aphoto/main#{$i}.jpg")no-repeat;
                background-size: cover;
            }
        }
        
        div{
            padding-top: calc(50vh - 80px);
            text-align: center;
            @include textBox;
            
            p{
                margin: 20px 0 40px;
                @include text($size:1.5rem, $weight:500, $clr:$color1);
            }
        }
    }

    .snsLink{
        width: 100%;
        @include position($b:0, $l:0);
        $sns-data: (1:twitter, 2:flickr, 3:dribbble);
        @each $num, $sns  in $sns-data {
            a:nth-child(#{$num}){
                background: url("../images/pt_Aphoto/fa-#{$sns}.png")no-repeat center;
                background-size: 100%;
            }
        }

        div{
            width: fit-content;
            margin: 0 auto 26px;

            a{
                width: 30px;
                height: 35px;
                display: inline-block;
                margin: 0 8px;
                font-size: 0;
            }
        }
    }
}

.section2{
    @include section;

    .bgImg{
        background: url('../images/pt_Aphoto/iphone.png')no-repeat 100% 0;
        background-size: contain;
        @include inner($pb:10rem);

        .textBox{
            width: 50vw;
            @include textBox;
        }
    }
}

.section3{
    @include section($bg:$color1);

    .bgImg{
        @include inner($pb:8rem);

        .mySlides{
            width: 35vw;
            margin-left: auto;

            div{margin:40px 0 10px;}
            @include textBox;
        }
    }

    .arrowes{
        width: 35vw; 
        margin-left: auto;
        @include slideArrs;
    }
}

.section4{
    @include section;

    > div{
        @include inner($pb:8rem);
        @include float(30%, 65%);
        
        .fl-left{
            text-align: center;
            @include textBox;
        }
        a {
            text-decoration: none;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .arrowes{
            width: fit-content;
            margin-left: auto;
            @include slideArrs;
        }
        .item img{width: 100%;}
    }
}

$btnsWdith: 260px;
.section5{
    $bgGradient: linear-gradient(to bottom, rgba(7, 5, 71, 0.4), rgba(2, 23, 39, 0.3));
    background: $bgGradient, url("../images/pt_Aphoto/subsribe.jpg")no-repeat;
    background-size: cover;
    text-align: center;
    @include vw_vhSet;

    .textBox{
        padding-top: calc(50vh - 80px);
        @include textBox;

        h3{color: $color1;}

        form{
            width: fit-content;
            margin: 30px auto;
            border-radius: 0.3rem;
            @include float;
            
            input{
                min-width: $btnsWdith;
                padding: 0.8rem 1.2rem;
                &::placeholder{
                    color:$color3;
                    font: {size:1rem; weight:500;};
                }
            }
            button{
                @include button(0.8rem 1rem);
                border-radius: 0;
            }
        }
    }
}


.section6{
    @include section;

    .textBox{
        text-align: center;
        @include inner($pb:8rem);
        @include textBox;

        h3{color: $color3;}
        p{margin: 10px 0 40px;}
        .btnsBox button{
            width: fit-content;
            padding:0;
            @include float;

            &:first-child{margin-right: 1rem;}
            
            .btnsText{
                width: $btnsWdith;
                height: 100%;
                padding: 0.8rem;
                text-align: left;
            }
            .btnsIcon{
                padding: 0.5rem 1rem;
                background: $color5;
            }
        }
    }
}

.footer{
    @include inner($pt:3rem, $pb:3rem);
    @include float;

    div{
        @include title($size:1rem);

        ul li{
            display: inline-flex;
            margin-bottom: 20px;
            &::after{
                content: '';
                margin: 0 10px;
                width: 2px;
                background: $color4;
            }
            &:last-child::after{width:0;}
        }
    }
}
