@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* common */
button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #939597;
}

/* header */
.logo {
    font-size: 36px;
}
.menuBar select option {
    font-size: 16px;
}

/* section : welcome */
.welcom-text h1 {
    font-size: 70px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.welcom-text button, .btn-text {
    font-size: 15px;
    color: #939597;
}
.gnb .gnb-menu li a{
    text-transform: uppercase;
}
.gnb .gnb-menu li:hover a{
    color: #F5DF4D;
}
