// 폰트
$family: unquote("Train One"); //Chango 
@import url('https://fonts.googleapis.com/css2?family=#{$family}&display=swap');


// 기본 컬러 셋팅
$bgGradient: linear-gradient(to bottom, rgba(85, 8, 116, 0.4), rgba(223, 155, 55, 0.3));
$color1: #fff;
$color2: rgb(235, 235, 235);
$color3: #222;
$color4: #379c72;
$color5: #444;
$color6: #50c292;

// Width & Height 셋팅
%wSet{width:100vw;}
%hwSet{width:100vW; height:100vh;}
%w100Set{width:100%;}
%hw100Set{width:100%; height:100%;}
%lineHeight{line-height:130%;}

// 기본 버튼 & 섹션 셋팅
%buttonSet{
    padding: 1rem 2.5rem;
    background: $color4;
    border-radius: 0.2rem;
    color: $color1;
}

%sectionSet{
    padding-top: 10vh;
}


















@mixin boxHover($w:10px, $h:10px, $bg:none) {
    width: $w;
    height: $h;
    display: flex;
    align-items: center;
    background: $bg;
    color: $color4;
    font: {
        size: 20px;
        weight: bold;
        family: $family;
    }
    &:hover::after{
        content: "HELLO";
        margin: auto;
        z-index: 2;
    }
    &:hover::before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        z-index: 1;
        @content;
    }
}
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
@mixin position(
    $p: absolute,
    $t: null,
    $b: null,
    $l: null,
    $r: null
){
    @if 
    $p == absolute
    or $p == fixed
    or not $p == relative
    or not $p == static
    {
        position: $p;
        // top: if(unitless($t), #{$t}px, $t);
        // bottom: if(unitless($b), #{$b}px, $b);
        // left: if(unitless($l), #{$l}px, $l);
        // right: if(unitless($r), #{$r}px, $r);
        top: $t;
        bottom: $b;
        left: $l;
        right: $r;
    }

}
@mixin padding(
    $t: null,
    $r: null,
    $b: null,
    $l: null
) {
    padding: {
        top: $t;
        bottom: $b;
        left: $l;
        right: $r;
    }
}

$amount: 30;

.hello{
    @include position($t:100px, $l:100px);
    @include boxHover(
        $w: 200px,
        $h: 200px,
        $bg: invert($color4)
    ){
        @include position($t:0, $l:0);
    };
    @include transform(rotate(30deg));
}

.hello2{
    @include position($t:30vh, $r:100px);
    @include boxHover(
        $w:100px, 
        $h:80px, 
        $bg: red
    ){
        @include position($t:100%, $l:10px);
    };
    @include transform(rotate(30deg));
}


$num: (a, b, c, d, e);
$fruits-data: (
    apple: Korea,
    orange: china,
    banana: Japan
);
.slide{
    @each $this in $num {
        li.#{$this}{
            background : $color5;
        }
    }
    @each $this in $num {
        $i: index($list: $num, $value: $this);
        li:nth-child(#{$i}){
            padding-left: 10px * $i;
        }
    }
    @each $fruit, $country in $fruits-data {
        li.box-#{$fruit}{
            background: url("../images/#{$country}.png");
        }
    }
}

$i: 6;
@while $i > 0 {
    .item-#{$i} {
        width: 2px * $i;
    }
    $i: $i - 2;
}





















// 슬라이드 화살표 셋팅
.arrLeft{
    width: 20px;
    height: 30px;
    margin: {
        right: 5px;
    };
    background: url(../images/work1/fa-angle-left.png)no-repeat center center;
}
.arrRight{
    width: 20px;
    height: 30px;
    background: url(../images/work1/fa-angle-right.png)no-repeat center center;
}

// 기본 레이아웃 셋팅
.inner{
    width: 80vw;
    margin: auto;
    padding: {
        bottom: 10vh;
    };
    @extend %floatSet;
}

%floatSet{
    overflow: hidden;
}
.to{
    &-left{float:left;}
    &-right{float:right;}
}

// text Box 셋팅
%textBoxSet{
    @at-root h3{
        color: $color4;
        font: {
            size: 1.5rem;
            weight: 600;
        };
        @extend %lineHeight;
    }
    > p{
        margin: 2.2rem 0;
        color: $color5;
        line-height: 180%;
    }
    > button{@extend %buttonSet;}
}

// btns Box 셋팅
.btnsBox{
    width: fit-content;
    margin: 30px auto;
    border-radius: 0.2rem;
    @extend %floatSet;
    
    .btnsText{
        padding: 0.8rem;
    }

    .btnsIcon{
        padding: 0.8rem;
        background: $color4;
        color: $color1;
    }
}


// 상단 헤더-메뉴
.header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    @extend %wSet;
}

nav{
    width: 70vw;
    margin: auto;

    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li{
            flex-basis: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                color: $color1;
            }
        }
    }
}



// 1 Section - 비쥬얼
.section1{
    background: $bgGradient, url('../images/work1/main1.jpg')no-repeat;
    background-size: cover;
    @extend %hwSet;
    @extend %floatSet;

    .textBox{
        padding-top: 50vh;
        text-align: center;
        color: $color1;
        @extend %w100Set;

        h2{
            font: {
                size: 2.5rem;
                weight: 600;
            };
            letter-spacing: 0.4rem;
            @extend %lineHeight;
        }
        p{
            letter-spacing: 0.2rem;
            @extend %lineHeight
        }
        button{
            margin: {
                top: 20px;
            };
            @extend %buttonSet;
        }
    }

    .iconBOx{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.5rem 0;
        @extend %wSet;
        
        ul{
            width: fit-content;
            display: flex;
            flex-direction: row;
            margin: auto;

            li{
                width: 30px;
                height: 30px;
                margin: 0 4px;
    
                a{
                    display: block;
                    font: {
                        size:0;
                    };
                    @extend %hw100Set;
                }
            }
        }
    }
}



// 2 Section - 
.section2{
    background: $color2;
    @extend %sectionSet;

    .inner{
        .textBox{
            @extend %textBoxSet;
        }
    }
}

// 3 Section - 
.section3{
    background: $color1;
    @extend %sectionSet;

    .inner{

        .textBox{
            float: right;
            margin: {
                left: auto;
            };
            @extend %textBoxSet;

            .slideArrs{
                margin: {
                    top: 2rem;
                };
            }
        }
    }
}

// 4 Section - 커뮤니티
.section4{
    background: $color2;
    @extend %sectionSet;

    .inner{
        .textBox{
            width: 20%;
            text-align: center;

            h3{
                margin: {
                    top: 2.2rem;
                };
                color: $color3;
            }
            p{
                margin: 1.2rem 0 0;
                line-height: 120%;
                color: transparent
            }
        }
    }
}


// 5 Section - 구독신청하기
.section5{
    background: $bgGradient, url('../../images/work1/main2.jpg')no-repeat;
    text-align: center;
    @extend %hwSet;

    .textBox{
        padding: {
            top: 50vh;
        };
        text-align: center;
        color: $color1;
        @extend %w100Set;

        h3{
            color: $color1;
            
        }
    }
}



.section6{
    background: $color2;
    text-align: center;
    @extend %sectionSet;

    p{
        width: 80%;
        margin: auto;
    }

    .btnsBox{
        .btnsText{
            width: 180px;
            background: $color6;
            text-align: left;
            color: $color1;
        }
    }
}


