
// 기본 컬러
$color1: #fff;
$color2: #f5f6f7;
$color3: #373737;
$color4: #16a085;
$color5: #0d7c66;

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 40px 0;
    z-index: 100;

    nav{
        width: 70%;
        margin: auto;

        ul{
            display: flex;
            flex-flow: row wrap;

            li{
                flex: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                h1{font-size:0;}

                a{
                    letter-spacing: 0.31rem;
                    color: $color1;
                    font: {size:1.3rem; weight:500;}
                }
            }
        }
    }
}